* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F2123;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252627E6;
    backdrop-filter: blur(1.5px);
    z-index: -1;
}

.navbarLogo img {
    height: 36px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.navbarLink {
    display: flex;
    align-items: center;
}

.navbarItem a {
    margin: 1rem 1.25rem;
    color: white;
    text-decoration: none;
}

#check {
    display: none;
}

.navbarIcon {
    display: flex;
    align-items: center;
    margin: 1rem 1.25rem;
    margin-right: 0;
}


.langIcon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.hamberger {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    display: none;
}

/*BREAKPOINT FOR NAVBAR*/
@media (max-width: 992px) {
    .navbar {
        padding: 0 5%;
    }
}

@media (max-width: 576px) {
    .hamberger {
        display: flex;
    }

    #check:checked ~ .hamberger #openHamberger {
        display: none;
    }

    .hamberger #closeHamberger {
        display: none;
    }

    #check:checked ~ .hamberger #closeHamberger {
        display: flex;
    }


    .navbarItem {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #252627E6;
        backdrop-filter: blur(1.5px);
        display: flex;
        flex-direction: column;
    }

/*
    #check:checked ~ .navbarLink {
        background-color: #3176ba;
    }
*/

    .navbarItem a {
        margin: 0.75rem auto;
    }

}



.announcement {
    color: red;
    font-weight: bold;
    background-color: pink;
    height: auto;
    width: 80%;
    display: flex;
    margin: 50px;
    border: 2px solid black;
    padding: 20px;
    align-items: center;
}


h2 {
    text-align: center;
}

.peko {
    display: block;
    margin: auto;
    max-width: 60%;
}

.GG {
    color: steelblue;
}


.container3D,
canvas {
    width: 100vw;
    height: 100vh;
    max-height: 500px;
    /*    border: 1px solid black;*/
    background-color: rgba(235, 235, 235, 0.22);
}

.figma-embed {
    display: flex;
    width: 100%;
    height: 800px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.figma-embed-mobile {
    width: 400px;
    margin: auto;
}

/*媒體查詢*/
@media screen and (max-width: 420px) {
    .figma-embed-mobile {
        width: 100%;
        margin: auto;
    }
}

.logo {
    display: flex;
    height: 30vh;
    background-color: rgba(206, 249, 255, 0.52);
}
