* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F2123;
    color: white;
}




/*NAVBAR(Responsive)--START--*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252627E6;
    backdrop-filter: blur(1.5px);
    z-index: -1;
}

.navbarLogo img {
    height: 36px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.navbarLink {
    display: flex;
    align-items: center;
}

.navbarItem a,
.langOptions a {
    padding: 0 1.25rem;
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbarItem a:hover,
.langOptions a:hover {
    text-shadow: 0 0 0.5rem #A9BAD5;
    /* 光暈效果*/
}

#itemCheck,
#langCheck {
    display: none;
}

.navbarIcon {
    display: flex;
    align-items: center;
    margin: 1rem 1.25rem;
    margin-right: 0;
}


.langIcon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border-radius: 50%;
}

.langIcon:hover {
    background-color: #A9BAD533;
    box-shadow: 0 0 0.4rem #A9BAD5;
    /* 光晕效果 */
}

.hamberger {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    display: none;
}

.langOptions {
    position: absolute;
    top: 100%;
    right: 7.5%;
    min-width: calc(5% + 3rem);
    height: 0;
    background-color: #252627E6;
    backdrop-filter: blur(1.5px);
    overflow: hidden;
    transition: 0.3s ease;
}

#langCheck:checked ~ .langOptions {
    height: 8rem;
}

.langOptions a {
    height: 2.5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
}

#langCheck:checked ~ .langOptions a {
    transform: translateY(0);
    opacity: 1;
}


/*BREAKPOINT FOR NAVBAR*/
@media (max-width: 992px) {
    .navbar {
        padding: 0 5%;
    }

    .langOptions {
        right: 2%;
    }
}

@media (max-width: 576px) {
    .hamberger {
        display: flex;
    }

    #itemCheck:checked ~ .navbarIcon .hamberger #openHamberger {
        display: none;
    }

    .hamberger #closeHamberger {
        display: none;
    }

    #itemCheck:checked ~ .navbarIcon .hamberger #closeHamberger {
        display: flex;
    }

    .navbarItem {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #252627E6;
        backdrop-filter: blur(1.5px);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #itemCheck:checked ~ .navbarItem {
        height: 16rem;
    }

    .navbarItem a {
        height: 4rem;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    #itemCheck:checked ~ .navbarItem a {
        transform: translateY(0);
        opacity: 1;
    }

    .langOptions {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #252627E6;
        backdrop-filter: blur(1.5px);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #langCheck:checked ~ .langOptions {
        height: 11rem;
    }

    .langOptions a {
        height: 4rem;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    #langCheck:checked ~ .langOptions a {
        transform: translateY(0);
        opacity: 1;
    }
}

/*NAVBAR(Responsive)--END--*/








/*WELCOME PAGE --START--*/
.welcomePage {
    text-align: center;
}

.welcomePage .P1 {
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1.5rem;
    color: #AAA;
}

.welcomePage .P2 {
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
}

.welcomePage .P2 .P2-1 {
    margin-bottom: 0.5rem;
}

.welcomePage .P2 .P2-2 {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.textOverlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.arrowDown {
    height: 0.75rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media (max-width: 576px),
(max-height:576px) {
    .welcomePage .P1 {
        font-size: 1rem;
        letter-spacing: 0.02rem;
        margin-bottom: 1.5rem;
        color: #AAA;
    }

    .welcomePage .P2 {
        font-size: 1.25rem;
        letter-spacing: 0.02rem;
        margin-bottom: 0.5rem;
    }

    .arrowDown {
        height: 0.5rem;
    }
}

/*歡迎頁文字淡入動畫*/
.welcomePage .P1,
.welcomePage .P2,
.welcomePage .arrowDown {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*WELCOME PAGE --END--*/











.announcement {
    color: red;
    font-weight: bold;
    background-color: pink;
    height: auto;
    width: 80%;
    display: flex;
    margin: 50px;
    border: 2px solid black;
    padding: 20px;
    align-items: center;
}


h2 {
    text-align: center;
    color: white;
}

.peko {
    display: block;
    margin: auto;
    max-width: 60%;
}

.GG {
    color: steelblue;
}


.container3D,
canvas {
    width: 100%;
    height: 100vh;
    max-height: 500px;
    /*    border: 1px solid black;*/
    background-color: rgba(235, 235, 235, 0.22);
}

.figma-embed {
    display: flex;
    width: 100%;
    height: 800px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.figma-embed-mobile {
    width: 400px;
    margin: auto;
}

/*媒體查詢*/
@media screen and (max-width: 420px) {
    .figma-embed-mobile {
        width: 100%;
        margin: auto;
    }
}

.logo {
    display: flex;
    height: 30vh;
    background-color: rgba(206, 249, 255, 0.52);
}
